#GraphCanvas, #cyroot {
    height: 100%;
    width: 100%;
}

#GraphCanvas ul{
    z-index: 3;
    list-style: none;
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 0;
    right: 10px;
}

