#GraphCanvas, #cyroot {
    height: 100%;
    width: 100%;
}

#GraphCanvas #btnlist{
    z-index: 3;
    list-style: none;
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 0;
    right: 10px;
}

#GraphCanvas #loadingdiv {
    z-index: 4;
    height: 100%;
    width: 100%;
    position: absolute;

    align-items: center;
    justify-content: center;

    background-color: #111110;
    opacity: 0.9
}

#GraphCanvas #loadingdiv #loading {
    z-index: 5;
}