#rfrform {
    padding-left: 5px;
}

.controls {
    display: flex;
    flex-direction: row;
}

.controls input, .suggestions{
    width: 70%
}

#rfrform button{
    display: flex;
    flex-direction: row-reverse;
}


#rfrform button i {
    margin: auto;
}